<% content_for :title, @event.title %>

<div class="card">
  <h1><%= @event.title %></h1>
  <p><%= @event.description %></p>

  <div class="event-meta">
    <p><strong>Location:</strong> <%= @event.location %></p>
    <p><strong>Date:</strong> <%= @event.date.strftime("%B %d, %Y at %I:%M %p") %></p>
    <p><strong>Organized by:</strong> <%= @event.user.email %></p>
  </div>


  <div class="event-actions">
    <%= link_to "Back to events", events_path, class: "btn btn-primary" %>
    <% if user_signed_in? && has_ownership %>
      <%= link_to "Edit this event", edit_event_path(@event), class: "btn btn-primary" %>
      <%= link_to "Delete this event", @event, class: "btn btn-danger", data: { turbo_confirm: 'Are you sure?', turbo_method: :delete  }  %>
    <% end %>
  </div>
</div>
